.heig1{height: 70px}
.heig2{height: 900px}
.inp1{text-decoration: none; border:none;}
.redd{height: 100px}
.redd3{height: 75px}
.redd2{height: 150px}
.img{height: }
.mbb{margin-bottom: 10px}
.responsive-container  {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.like{ margin-left: 325px; margin-top: 29px}
.like2{ margin-left: 482px}
